.admin-table-wrapper {
  margin-top: 3rem;
  padding: 1rem;
  overflow-x: auto;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.admin-table th,
.admin-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 0.95rem;
}

.admin-table th {
  background-color: #84a98c;
  color: white;
  font-weight: 600;
}

.admin-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
